<div class="container-fluid clearfix">
    <div class="header-container row rounded-top p-2 pl-5">
        <h1>Our Classes</h1>
    </div>
    <div class="p-2">
        <p class="lead">I love cheese, especially blue castello st. agur blue cheese.</p>
        <p>
            I love cheese, especially blue castello st. agur blue cheese. Dolcelatte emmental taleggio dolcelatte danish fontina smelly cheese jarlsberg boursin. Cottage cheese brie cheese triangles cream cheese swiss goat cheeseburger cheddar. Gouda roquefort cut the cheese cheesy feet gouda stinking bishop camembert de normandie croque monsieur. Ricotta who moved my cheese.
            Jarlsberg rubber cheese swiss. Queso cheeseburger cheddar swiss blue castello say cheese halloumi cheese and wine. St. agur blue cheese mozzarella goat cauliflower cheese danish fontina cheeseburger cheesy grin camembert de normandie. Dolcelatte cheeseburger manchego monterey jack cheeseburger.
        </p>
        <hr />
        <div class="class-description row mb-1 p-1" data-ng-repeat="class in vm.classes">
            <div class="col-9">
                <h4>{{class.name}}</h4>
                <p>{{class.description}}</p>
                <hr />
            </div>
        </div>
    </div>
</div>