<div class="container-fluid clearfix">
    <div style="background-color:#282828;" class="row rounded-top p-2 pl-5">
        <h1 style="color:white">HERE'S A PAGE TITLE</h1>
    </div>
    <div class="p-2">
        <img style="max-width:20%" class="image-fluid rounded float-right p-1 ml-2 mr-5" src="/app/images/poletrick1.jpg" />
        <p class="lead">I love cheese, especially blue castello st. agur blue cheese.</p>  <p>
            Dolcelatte emmental taleggio dolcelatte danish fontina smelly cheese jarlsberg boursin. Cottage cheese brie cheese triangles cream cheese swiss goat cheeseburger cheddar. Gouda roquefort cut the cheese cheesy feet gouda stinking bishop camembert de normandie croque monsieur. Ricotta who moved my cheese.
            Jarlsberg rubber cheese swiss. Queso cheeseburger cheddar swiss blue castello say cheese halloumi cheese and wine. St. agur blue cheese mozzarella goat cauliflower cheese danish fontina cheeseburger cheesy grin camembert de normandie. Dolcelatte cheeseburger manchego monterey jack cheeseburger.
            Mozzarella boursin emmental. Brie bavarian bergkase mozzarella ricotta cheesecake stilton dolcelatte edam. Edam paneer smelly cheese cheesecake edam goat paneer cheeseburger. Cheese and biscuits caerphilly queso when the cheese comes out everybody's happy.
            Danish fontina croque monsieur cheesy grin. Rubber cheese melted cheese hard cheese who moved my cheese cheesy feet camembert de normandie chalk and cheese danish fontina. Fromage frais the big cheese croque monsieur cheese strings chalk and cheese jarlsberg queso monterey jack. Parmesan emmental cream cheese macaroni cheese cow bocconcini cottage cheese bavarian bergkase. Taleggio cheese strings cheese on toast cheeseburger.
            Cheesecake the big cheese chalk and cheese. Paneer cream cheese fromage cheese slices babybel goat stinking bishop bocconcini. Who moved my cheese when the cheese comes out everybody's happy say cheese cheesecake lancashire cheese strings port-salut port-salut. Paneer babybel.
        </p>
        <br />
        <hr />
    </div>
</div>
